In [1]:
import pandas as pd
import numpy as np

In [2]:
student_info = {
    "name": ["amin", "ali", "reza", "amir", "mohsen", "hossein"],
    "age": np.array([20, 23, np.nan, 22, np.nan, 19]),
    "degree": ["BS", "BS", "MS", "MS", "PHD", "BS"],
    "ins": [True, False, True, False, False, False],
    "gpa": [3.5, 3.7, 3.6, 3.8, 3.9, 4],
}
student_info

{'name': ['amin', 'ali', 'reza', 'amir', 'mohsen', 'hossein'],
 'age': array([20., 23., nan, 22., nan, 19.]),
 'degree': ['BS', 'BS', 'MS', 'MS', 'PHD', 'BS'],
 'ins': [True, False, True, False, False, False],
 'gpa': [3.5, 3.7, 3.6, 3.8, 3.9, 4]}

In [3]:
df = pd.DataFrame(student_info)
df

      name   age degree    ins  gpa
0     amin  20.0     BS   True  3.5
1      ali  23.0     BS  False  3.7
2     reza   NaN     MS   True  3.6
3     amir  22.0     MS  False  3.8
4   mohsen   NaN    PHD  False  3.9
5  hossein  19.0     BS  False  4.0